{% extends "base.html" %}
{% block box %}
<div class="box">
    <h2 class="title">About Arch Linux</h2>
<p>
Arch Linux jest rozwijaną niezależnie, dystrybucją docelowo dla i686/x86-64 na tyle wszechstronną, aby dopasować się do wszelakich zastosowań. Rozwój skupia się na prostocie, minimalizmie oraz czystości kodu. Arch jest instalowany jako minimalny system bazowy, w której to użytkownik decyduje się na środowisko tak, aby dopasować je do własnych potrzeb. Narzędzia do konfiguracji GUI nie są oficjalnie wspierane i większość personalizacji systemu dokonywana jest za pomocą terminala poprzez edycję plików tekstowych. Arch stara się być zawsze aktualnym i oferuje najnowsze stabilne wersje większości oprogramowania.
</p>
<p>
Arch używa własnego dystrybutora paczek o nazwie Pacman, który łączy w sobie paczki binarne z prostym do użycia systemem budowy. To pozwala użytkownikom łatwo zarządzać i dostosowywać paczki zaczynając od oficjalnego oprogramowania dystrybucji Arch aż po własne paczki samych użytkowników. System repozytoriów pozwala także użytkownikom na proste tworzenie i utrzymywanie własnych skryptów, paczek oraz repozytoriów, które zachęcają społeczność do rozwoju i wkładu własnego.
</p>
<p>
Pakiet minimalny skupia się na podstawowym repozytorium [core]. Dodatkowo, oficjalne [extra], [community] oraz [testing] zapewniają tysiące, wysokiej jakości paczki, aby spełnić twoje oczekiwania. Arch oferuje także sekcję [unsupported] w Repozytorium Użytkowników Arch Linux (AUR), które zawiera ponad 9000 skryptów dla kompilowania paczek ze źródeł używając do tego aplikacji makepkg.
</p>
<p>
Arch Linux jest dystrybucja "rolling release" co oznacza jednorazową instalację i późniejsze aktualizacje oprogramowania. Reinstalacja systemu Arch Linux nie jest konieczna aby zaktualizować wersję Arch Linux do najnowszej. Przy użyciu jednej komendy możemy być pewni, że system jest zawsze aktualny.
</p>
<p>
Arch stara się utrzymywać swoje pakiety jak najbliżej oryginałom. Patche są stosowane tylko, gdy jest to konieczne do prawidłowego działania aplikacji oraz współpracy z resztą aktualnego oprogramowania w systemie Arch.
</p>
<p>
Podsumowując, Arch Linux jest dystrybucją wszechstronną i prostą zaprojektowaną tak, aby spełnić potrzeby użytkownika systemu Linux&reg;. Jest on potężny i zarazem łatwy w obsłudze, co czyni go idealną dystrybucją zarówno dla serwerów jak i stacji roboczych. Używaj go tak, jak chcesz. Jeśli podzielasz pogląd o tym, czym dystrybucja GNU/Linux powinna być, to zachęcamy do jej użytkowania, angażowania się i przyczyniania do rozwoju społeczności. Zapraszamy!
</p>
</div>
<br><br>
{% endblock %}
